body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

.nav-bar ul a {
  text-decoration: none;
}

.nav-bar ul .user {
  display: flex;
}

.nav-bar ul .user img {
  height: 60px;
}

.nav-bar ul .user a {
  margin: 15px;
}

.home {
  text-align: center;
}

.home button {
  margin: 20px;
}

.home ul {
  list-style: none;
}

.question {
  margin-bottom: 40px;
  border: 2px solid;
  padding: 30px;
}

.question img {
  height: 100px;
}

.question p {
  display: inline;
  margin-left: 30px;
}

.question button {
  margin: 30px auto 0;
  display: block;
}

.home a {
  text-decoration: none;
}

.question-page {
  text-align: center;
  border: 2px solid;
  padding: 30px;
}

.question-page img {
  height: 100px;
}

.question-page p {
  display: inline;
}

.question-page label {
  margin-right: 30px;
}

.question-page button {
  display: block;
  margin: 50px auto 0;
}

.bold {
  color: brown;
  position: relative;
}

.bold::before {
  content: "(Your Pick)";
  position: absolute;
  right: 0;
  font-size: smaller;
  top: 3px;
  color: cadetblue;
}

.new-question {
  text-align: center;
}

.new-question form {
  display: flex;
  flex-direction: column;
}

.new-question input {
  height: 30px;
  margin-bottom: 20px;
}

.new-question span {
  margin-bottom: 20px;
}

.new-question button {
  width: 70px;
  margin: auto;
}

.leaderboard ul {
  list-style: none;
}

.leaderboard img {
  height: 200px;
}

.leaderboard p {
  display: inline;
  font-weight: 500;
}
